[pylint]
disable=
    broad-except,
    consider-using-f-string,
    fixme,
    global-statement,
    import-error,
    invalid-name,
    line-too-long,
    no-self-use,
    too-few-public-methods,
    too-many-branches,
    too-many-lines,
    too-many-locals,
    too-many-statements,
    unspecified-encoding,
good-names=
    resolver
ignore=
    __init__.py,
notes=
    FIXME,
