services:
  resolver:
    image: senzing/resolver:${SENZING_DOCKER_IMAGE_VERSION_RESOLVER:-latest}
    networks:
      - senzing
    ports:
      - 8252:8252
    restart: always

networks:
  senzing:
    external: true
    name: ${SENZING_DOCKER_NETWORK:-senzing-network}
